@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

@mixin mixin-linear-gradient($top, $color-from, $color-to) {
  background-image: -webkit-linear-gradient($top, $color-from, $color-to);
  background-image: -moz-linear-gradient($top, $color-from, $color-to);
  background-image: -ms-linear-gradient($top, $color-from, $color-to);
  background-image: -o-linear-gradient($top, $color-from, $color-to);
  background-image: linear-gradient($top, $color-from, $color-to);
}

$border-color: #e0e0e0;

body{
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url('../img/bg-img.png');
}

#maincontainer0{
  max-width: 1020px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 8px;
  border-radius: 5px;
  margin: 4vw auto auto auto;
}

#maincontainer{
  max-width: 980px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  @include prefix(box-shadow, 0 0 1px 1px $border-color,webkit moz ms o);
}

#maintitle{
  font-size: 60px;
  font-weight: lighter;
  color: #2288b7;
  text-align: center;
}

#subtitle{
  font-size: 17px;
  font-weight: normal;
  color: #3b3b3b;
  text-align: center;
  padding: 0 0 20px 0;

  max-width: 940px;
  margin: auto;
  border: solid $border-color;
  border-width: 0 0 1px 0;
}

input[type=text]{
  width: 370px;
  padding: 7px;
  border: 1px solid $border-color;
  @include prefix(border-radius,3px,webkit moz);
  float: left;
}

#search{
  text-align: left;
  padding: 16px 0 16px 0;
  color: #555555;
  display: table;
  margin: 0 auto;
}

::placeholder {
  color: #999999;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999999;
}

:-ms-input-placeholder { /* Microsoft Edge */
  color: #999999;
}

//select style change (nie jestem pewien jak wyswietla sie to pole na systemie mac)
select{
  padding: 7px 7px 5px 7px;
  border: 1px solid $border-color;
  @include prefix(border-radius,3px,webkit moz);
  float: left;
  margin-left: 10px;
}

//table style
table {
  font-family: arial, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
}

td {
  border-style: solid;
  border-color: $border-color;
  border-width: 1px 1px 0 0;
  text-align: left;
  padding: 11px;
  color: #555555;
}

th{
  padding: 23px;
  overflow: hidden;
  background-color: #eaecec;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

tr:hover{
  background-color: #eee;
}

thead{
  @include prefix(border-radius,25px,webkit moz);
  color: #666666;
}

#roundtable{
  @include prefix(border-radius,5px,webkit moz);
  border: 1px solid $border-color;
  overflow: hidden;
  max-width: 940px;
  margin: auto;
}

//pagination buttons style
@mixin pagbutton($color-from, $color-to) {
  @include mixin-linear-gradient(top, $color-from, $color-to);
  @include prefix(border-radius,3px,webkit moz);
  color: #717171;
  font-size: 12px;
  padding: 5px 9px 5px 9px;
  border: solid #bababa 1px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}

.paginationBtn {
  @include pagbutton(#ffffff,#ebebeb);
  color: #717171;
}

.paginationBtn:hover {
  @include pagbutton(#f5f5f5,#e3e3e3);
}

//clicked button style
.clickedBtn{
  @include prefix(border-radius,3px,webkit moz);
  color: #f2f2f2;
  font-size: 12px;
  background: #686868;
  padding: 4px 8px 5px 8px;
  border: solid #565656 1px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #666666;
  margin-left: 5px;
  vertical-align: bottom;
}


#paggination{
  padding: 20px 0 0 0;
  display: table;
  margin: 0 auto;
}


input, button, submit { border:none; }

//buttons style
@mixin button($color-from, $color-to) {
  @include mixin-linear-gradient(top, $color-from, $color-to);
  @include prefix(border-radius,3px,webkit moz);
  font-size: 12px;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  font-weight: 800;
  margin-left: 10px;
}


#searchButton {
  @include button(#6ba1f3,#2278f0);
  color: #ffffff;
  font-weight: 600;
}

#searchButton:hover {
  @include button(#5390ed,#1f72de);
  font-weight: 600;
}

#resetButton {
  @include button(#f1f1f1,#c4c4c4);
  padding: 6px 20px 8px 20px;
  color: #494949;
}

#resetButton:hover {
  @include button(#e8e8e8,#bdbdbd);
  padding: 6px 20px 8px 20px;
  color: #494949;
}

//pound style
@mixin pound($color-from, $color-to) {
  @include mixin-linear-gradient(top, $color-from, $color-to);
  @include prefix(border-radius,60px,webkit moz);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 1px 7px 1px 7px;
  border: solid #8b8b8b 1px;
  text-decoration: none;
  font-weight: 800;
  width: 10px;
  height: 22px;
  float: left;
  margin-left: 5px;
}

.pound-Empty{
  @include pound(#fefefe,#dadcdc);
  color: #666666;
}

.pound-Full{
  @include pound(#64c0ea,#4c95dc);
  color: #ffffff;
}

#poundrating{
  width: 160px;
  padding-left: 20px;
}

#referencetab{
  width: 105px;
  text-align:center;
}

#valuetab{
  width: 70px;
  text-align: right;
  padding-right: 35px;
}

#supliertab{
  padding-left: 25px;
  min-width: 100px;
}

//modal window style---------------------------------------------------------------------------------------------------
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 6vw;
  padding: 20px;
  border: 1px solid #888;
  max-width: 600px;
  @include prefix(border-radius,5px,webkit moz);
  border: 1px solid $border-color;
  -webkit-box-shadow: 0 0 5px 3px #777;
  -moz-box-shadow: 0 0 5px 3px #777;
  box-shadow: 0 0 5px 3px #777;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 15px;
  font-weight: bold;
  padding:0;
  margin-left: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modaltable tr td{
  border: 1px solid $border-color;
  @include prefix(border-radius,3px,webkit moz);
  padding:15px;
}

.modal-table{
  border: 1px solid $border-color;
  @include prefix(border-radius,3px,webkit moz);
  overflow: hidden;
}
